@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-secondary-dark-bg: #33373E;
    --color-main-dark-bg: #20232A;
    --color-light-gray: #F7F7F7;
    --color-main-bg: #FAFBFB;
    --color-half-transparent: rgba(0, 0, 0, 0.5);
  }